body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.m-a-l .m-a-d .m-ul{ display:block;   margin:0 auto; padding:10px 45px; }
.m-a-l .m-a-d .m-ul .m-li{ float:left; width:270px; height:auto;  padding:20px; border:1px solid #efefef; margin:25px; }
.m-a-l .m-a-d .m-ul .m-li .m-l-a{ display:block;  width:270px; height:228px;}
.m-a-l .m-a-d .m-ul .m-li .text{ display:block; }
.m-a-l .m-a-d .m-ul .m-li .text .m-name{ height:30px;   line-height:30px; color:#178d60; font-size:14px; display:block;}
.m-a-l .m-a-d .m-ul .m-li .text .m-name:hover{ text-decoration:underline;}
.m-a-l .m-a-d .m-ul .m-li .text .m-note{ display:block; height:30px;  line-height:30px; color:#999; font-size:14px; }
.m-a-l .m-a-d .m-ul .m-li .text .m-p{ display:block; }
.m-a-l .m-a-d .m-ul .m-li .text .m-p .m-price{  float:left; display:block; width:180px; height:30px;  font-size:12px; color:#787878; line-height:30px;}
.m-a-l .m-a-d .m-ul .m-li .text .m-p .m-price .s{ color:#dc2018; font-size:18px; padding-right:5px;}
.m-button{ float:left; margin-left:10px; width:80px; height:24px; background:#ec651a; text-align:center; line-height:24px; font-size:13px; color:#FFF;}
.m-button:hover{ background:#dc2018;}

.m-uls{ display:block;   margin:0 auto; padding:0 0 0 28px; }
.m-uls .m-li{ float:left; width:275px; height:auto;  margin-right: 26px;margin-top: 45px;text-align: center; }
.m-uls .m-li .m-l-a{ display:block;  width:245px; height:245px;overflow: hidden;}
.m-uls .m-li .text{ display:block;margin-top: 10px;margin-bottom: 10px; }
.m-uls .m-li .text .m-name{ height:30px;   line-height:30px; color:#333; font-size:14px; display:block;}
.m-uls .m-li .text .m-name:hover{ text-decoration:underline;}
.m-uls .m-li .text .m-note{ display:block; height:30px;  line-height:30px; color:#999; font-size:14px; }
.m-uls .m-li .text .m-p{ display:block;  color:#cc0000; font-size:18px;}
.m-uls .m-li .text .m-p .s{ color:#cc0000; font-size:18px; }
.m-buttons{  width:130px; height:32px; text-align:center; line-height:32px; font-siz:¡¾e:13px; color:#000;display: inline-block;text-align: center;border: 1px solid #c9c9c9;margin: 10px 0;}
.m-buttons:hover{ background: #d02626;border: none;color: #fff;border: 1px solid #d02626;}
